

*{
  box-sizing: border-box;
}

.game-container{
  display: flex;
  background-color: #2c3e50;
  height: 100vh;
  width: 100vw;
}

.game{
  width: 20px;
}
.game-container{
  padding: 3em;
}
.game-controllers{
  display: flex;
  height: 70vh;
  width: 50vw;
}
.piece-box, .piece-container{
  background-color: #ecf0f1;
  width: 18vw;
  height: 70vh;
  border: 2px solid;
}
.piece-container{
  padding-top: 2em;
  width: 18vw;
  height: 50vh;
}

.piece-box{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2em;
}
.piece-box .piece{
  margin: 0;
}
.piece-container{
  z-index: 100;
}

.piece {
 font-size: 12px;
  width: 12em;
  height: 3em;
  margin: 1.5em 4em 1.5em 4em;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  text-align: center;
  cursor: move;
}


.piece{
 background-color: #3498db;
}
.piece span {
 background-color: inherit;
}


.piece .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.3em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.piece .r {
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 10em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.piece .b {
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 1.8em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #ecf0f1;
}

.piece .l {
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}


.piece-up{

}
.piece-down{

  background-size: 5em 15em;
  background-image: url(./img/long-arrow-down.svg);
}
.piece-left{

  background-size: cover;
  background-image: url(./img/long-arrow-left.svg);
}
.piece-right{

  background-size: cover;
  background-image: url(./img/long-arrow-right.svg);
}

.piece-img{
  width: 3em;
  height: 3em;
}

.game-buttons{
  display: flex;
  flex-direction: column;
  height: 20vh;
}

button{
  width: 12em;
  height: 3.5em;
  font-weight: bold !important;
  font-size: 0.8em;
  margin: .4em !important;
  border: solid white 2px;

}

.btn-first{
  background-color: #2ecc71;
  color: white;
}
.btn-second{
  background-color: #e74c3c;
  color: white;
}
.btn-first:hover{
  color: white;
  background-color:#27ae60;
}

.btn-second:hover{
  color: white;
  background-color:#c0392b;
}

.colu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.colu-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.rowu {
  display: flex;
  justify-content: space-around;
}

.rowu-left{
  display: flex;
  justify-content: flex-start;
}

.rowu-right{
  display: flex;
  justify-content: flex-end;
}

.rowu-wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.colu-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.rowu-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
